<div class="h-full flex flex-col">
    <div class="bg-gray-800 text-white px-4 py-2">
        {{ archivo()?.nombre || 'sin archivo abierto' }}
    </div>
    <textarea #editorTextarea [(ngModel)]="contenido" rows="32" (click)="onCursorChange()" (keyup)="onCursorChange()"
        (select)="onCursorChange()"
        class="flex-1 w-full p-4 bg-gray-900 text-white outline-none resize-none"></textarea>
    <div class="flex gap-4 text-sm font-mono">
        <span class="text-gray-300">
            📍 Linea {{ lineaActual() }}, Columna {{ columnaActual() }}
        </span>
    </div>
    <div class="flex justify-center py-5">
        <app-boton texto="guardar" (click)="guardar()"></app-boton>
    </div>
</div>