<app-form-proyecto (nuevaCarpeta)="actualizarNuevoProyecto($event)"></app-form-proyecto>
@if(!cargando() && proyectos().length === 0){
<div
  class="mx-auto w-full max-w-md rounded-lg border border-gray-200 bg-white shadow-lg dark:border-gray-700 dark:bg-gray-800">
  <div class="p-8 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="mx-auto size-20 text-gray-400 dark:text-gray-500">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M15.182 16.318A4.486 4.486 0 0 0 12.016 15a4.486 4.486 0 0 0-3.198 1.318M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z">
      </path>
    </svg>

    <h2 class="mt-6 text-2xl font-bold text-gray-900 dark:text-white">No se encontró ningún proyecto</h2>

    <p class="mt-4 text-pretty text-gray-700 dark:text-gray-200">
      Crea un proyecto nuevo para empezar.
    </p>
  </div>
</div>
} @else {
<ul class="mx-auto w-1/4 divide-y divide-gray-200 rounded border border-gray-200">
  @for (proyecto of proyectos(); track proyecto) {
  <li class="p-3 text-gray-200 hover:bg-gray-50 hover:text-black">
    <a [routerLink]="['/proyecto', proyecto]">
      📁 {{ proyecto }}
    </a>
  </li>
  }
</ul>
}