<div class="p-5">
    <form [formGroup]="proyectoForm" (submit)="enviar()"
        class="p-6 mx-auto max-w-md space-y-4 rounded-lg border border-gray-300 bg-gray-100 dark:border-gray-600 dark:bg-gray-800">
        <div>
            <label class="block text-sm font-medium text-gray-900 dark:text-white" for="name">
                Nombre
            </label>

            <input formControlName="nombre"
                class="mt-1 w-full rounded-lg border-gray-300 focus:border-indigo-500 focus:outline-none dark:border-gray-600 dark:bg-gray-900 dark:text-white"
                id="name" type="text" placeholder="Escriba el nombre del proyecto">
        </div>
        <div class="flex justify-center">
            <app-boton texto="crear proyecto" [tipoBoton]="'submit'"></app-boton>
        </div>
    </form>
</div>